._imgs
{
	margin-top: 3%;
    margin-bottom: 4%; 
    width: 50%;
}

html {
	box-sizing: content-box;
}



.image_style{
	width: 50%;
	height: 50%;
	border-radius: 50%;
	margin: 15px;
}

.imag {
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.overlay {
	position: absolute;
	background: rgba(63,147,147, 0.8);
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
	border-radius: 0%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.textalign{
	text-align: center;
	margin-top: 10px;
}

.middle{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

._team {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

._disc{
	font-size: 13px;
}

._icon a i{
	color: grey;
}

._icon a:hover i.fa-linkedin  { color: #0077B5; }
._icon a:hover i.fa-github   { color: black; }
._icon a:hover i.fa-facebook   { color: #3B5998; }
